<h2>My Dashboard</h2>

{{> flash_messages}} 

<ul>
  {{#each userProjects}}
  <li>
  {{this.projectName}}
  <a href="/projects-list/{{this._id}}">See Project</a>

  </li>
  {{/each}}






</ul>

<button><a href="/start-a-project">Start a project</a></button>

<button><a href="/my-contributions">My contributions</a></button>
