<h2>My Dashboard</h2>

{{> flash_messages}} 

<p>My projects</p>
<ul>
  {{#each userProjects}}
  <li>
  {{this.projectName}}
  <a href="/projects-list/{{this._id}}">See Project</a>
  </li>
  {{/each}}
</ul>

<p>My contributions</p>
<ul>
  {{#each userContributions}}
  <li>
  {{this.userContributions}}
  <a href="/projects-list/{{this._id}}">See Project</a>
  </li>
  {{/each}}
</ul>







</ul>

<button><a href="/start-a-project">Start a project</a></button>

<button><a href="/my-contributions">My contributions</a></button>
