<h2>Live Projects</h2>

<ul> 
  {{#each projectsArray}}
  <li>
    <h3>{{this.name}}</h3>
    {{!-- <img src="{{this.imageUrl}}" /> --}}
    <h4>{{this.shortDescription}}</h4>
    <a href="/projects-list/{{this._id}}">See Project</a>
  </li>
    
  
  {{/each}}
  </ul>