<h2>Start a Project</h2>


<label>
Project Name:
<input type="text" name="name" placeholder="Project Name" />
</label>
<br/>

<label>
  Project Image:
  <input type="url" name="imageUrl" placeholder="Image URL"/>
</label>
<br/>

<label>
  Project Description:
  <input type="text" name="longDescription" placeholder="Describe your project"/>
</label>
<br/>