<div>

<h2>User Settings</h2>

<form action="/process-settings" method="POST">
  <label>
    Full name:
    <br />
    <input type="text" name="fullName" value="{{currentUser.fullName}}"
        placeholder="Leia Organa" />
  </label>
  <br />

  <label>
    Email:
    <br />
    <input type="email" name="email" value="{{currentUser.email}}"
        placeholder="leia@resistance.com" />
  </label>
  <br />

  <button>Save Settings</button>
</form>

</div>