<div class="all-form-page">

<div class="startproject-form">

<h2 class="start-pro-text">Start a Project</h2>

<form action ="project-creation" method = "POST">
<label>
Project Name : 
<br/>
<input class="field-length" type="text" name="projectName" placeholder="The New Facebook" />
</label>
<br/>

<label>
Short Description (100 characters max):
<br/>
<input class="field-length" type="text" name="shortDescription" maxlength="100" placeholder="Explain your project in less than 100 characters" />
</label>
<br/>

<label>
Long Description:
<br/>
<textarea class="field-length long-description" name="longDescription" placeholder="Please explain your project in more than 100 characters" />
</textarea>
</label>
<br/>

<label>
  Give your project a picture:
  <br/>
  <input class="field-length" type="url" name="pictureUrl" placeholder="Copy your image URL here"/>
</label>
<br/>

<label>
  What is the category of your project:
  <br/>
  <input class="field-length" type="text" name="category" placeholder="Give your project a category"/>
</label>
<br/>

<label>
  What is the end date of your project?
  <br/>
  <input class="field-length" type="date" name="endDate" placeholder="Select the end date"/>
</label>
<br/>

<label>
  How much money you expect to gather?
  <br/>
  <input class="field-length" type="number" name="moneyExpected" placeholder="See big!"/>
</label>
<br/>

  <button class="create-my-btn">Create My Project</button>
</form>
<br/>
</div>
</div>