<h2>Log in</h2>

<label>
Email:
<input type="email" name="email" placeholder="blah@blah.blah" />
</label>
<br/>

<label>
  Password:
  <input type="password" name="originalPassword" placeholder="password"/>
</label>
<br/>