<h2>Log In</h2>


<form action="/process-login" method="POST">
<label>
Email:
<input type="email" name="email" placeholder="blah@blah.blah" />
</label>
<br/>

<label>
  Password:
  <input type="password" name="originalPassword" placeholder="password"/>
</label>
<br/>

<button>Log In</button>
</form>
