<div class="sign-up-form">

<h2>Sign Up here!</h2>

<div class="signupform">
<form action ="process-signup" method = "POST">
<label>
First Name:
<br/>
<input class="signup-input" type="text" name="firstName" placeholder="John" />
</label>
<br/>

<label>
Last Name:
<br/>
<input class="signup-input" type="text" name="lastName" placeholder="Doe" />
</label>
<br/>

<label>
Email:
<br/>
<input class="signup-input" type="email" name="email" placeholder="blah@blah.blah" />
</label>
<br/>

<label>
  Password:
  <br/>
  <input class="signup-input" type="password" name="originalPassword" placeholder="password"/>
</label>
<br/>
  <button>Sign Up</button>
</form>
<br/>
</div>

</div>
